@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    background-color: rgb(63, 205, 158);
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: sans-serif;
}
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.container{
    min-height: 100hv;
}
.meal-wrapper{
    min-height: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    text-align: center;
}

.meal-search{
    margin: 2rem 0;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.meal-search cite{
    font-size: 1rem;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid palevioletred;
    color: palevioletred;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: rgba(14, 11, 235, 0.925);
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: rgb(200, 63, 205);
    color: rgb(58, 45, 45);
    border: none;
    border-top-right-radius:2rem;
    border-bottom-right-radius: 2rem;
    
}

.search-btn:hover{
    background-color: rgb(63, 205, 127);
}
.meal-result{
    margin-top: 4rem;
}
#meal{
margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0,0,0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 50%;
    height: auto;
    display: block;
}
.meal-name{
    padding: 1.5rem o.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: white;
    background-color: darkmagenta;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius:2rem;
    transition: all 0.45s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.45 linear;
    -ms-transition: all 0.45 linear;
    -o-transition: all 0.45 linear;
}
.recipe-btn:hover{
    background-color: aqua;
}

.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-tranform: (-50%,-50%);
    -moz-transform:(-50%,50%);
    -ms-transform:(-50%,-50%);
    -o-transform:(-50%,-50%);
    color: white;
    background: darkmagenta;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius:1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: ;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scroll-bar-thumb{
    background-color: cadetblue;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius:2rem;
}

.showRecipe{
    display: block;
}
.meal-details-content{
    margin: 2rem;
    
}




@media screen and(min-width: 600px) {
    .meal-search-box{
        width:540px;
        margin-left:auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
.meal-item{
    margin: 0;
}
@media screen and (min-width: 992px){
    .meal{

    }
}
    

    
